<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notes Login</title>
    </head>
    <body>
        <h1>Notes</h1>
        <form th:action="@{/login}" method="post">
            <div class="group">
                <input type="text" name="username" />
                <label>Username</label>
            </div>
            <div class="group">
                <input type="password" name="password" />
                <label>Password</label>
            </div>

            <button type="submit" class="button">Login</button>

            <div style="text-align: center; color: #D50000;" th:if="${param.error}">
                <p>Invalid username and password</p>
            </div>
            <div style="text-align: center;" th:if="${param.logout}">
                <p>You have been logged out</p>
            </div>
        </form>
    </body>
</html>